<div class="row">
  <div class="col-xs-12">
    <div class="text-center">
      <h3>{{video.title}} Subtitles</h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="table-responsive">          
      <table class="table">
        <thead>
          <tr>
            <th>Language</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each video.subtitleTracks}}
          <tr>
            <td>{{language}}</td>
            <td>{{description}}</td>
            <td align="right">
              <a class="btn btn-danger" href="/#library/videos/{{../video.id}}/subtitles/{{id}}/!delete" role="button" onclick="return confirm('Are you sure?')">Delete</a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <a class="btn btn-primary" href="/#library/videos/{{video.id}}/subtitles/!new" role="button">New</a>
    <a class="btn btn-default" href="/videoplayer/#library/videos/{{video.id}}" role="button">Cancel</a>
  </div>
</div>